<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title><%= site.title %></title>
        <link><%= site.url %></link>
        <language>en</language>
        <description>News from the Tor community</description>

        <%
           items = site.items.latest.limit(50)
           ItemCursor.new(items).each do |item, new_date, new_feed|
        %>
        <item>
            <title><%= CGI.escapeHTML(item.title) %></title>
            <author><%= CGI.escapeHTML(item.feed.title) %></author>
            <pubDate><%= item.published %></pubDate>
            <guid><%= item.guid %></guid>
            <link><%= item.url %></link>
            <description>
                <% if item.content %>
                    <%= CGI.escapeHTML(item.content) %>
                <% elsif item.summary %>
                    <%= CGI.escapeHTML(item.summary) %>
                <% end %>
            </description>
        </item>
        <% end %>
    </channel>
</rss>
