<!DOCTYPE html>
<html>
  <head>
   <meta charset='utf-8'>
   <meta name='generator' content='<%= Pluto.generator %>'>
   <title><%= site.title %></title>
   <%= stylesheet_link_tag 'css/planet' %>
  </head>
  <body>

<h1 class='site-title sans-serif'><%= site.title %></h1>


<div class='timeline'>

<% site.items.latest.limit(24).each do |item| %>

<article class='item monospace'>

  <h5 class='item-header'>
   <span class='feed-handle'>
    <%= link_to "@#{item.feed.key}", item.feed.url %>
   </span>
   <span class='item-timestamp'>
     <%= item.published.strftime('%B %e, %Y - %H:%M') %> •
     <%= time_ago_in_words( item.published ) %>
   </span>
  </h5>

  <div class='item-body'>
    <span class='item-title serif'>
      <%= link_to item.title, item.url %>
    </span>
    <br/>
    <span class='item-content'>
      <% if item.content %>
        <%= item.content %>
      <% elsif item.summary %>
        <%= item.summary %>
      <% else %>
        -/-
      <% end %>

      <%= link_to "...", item.url %>
     </span>
   </div>

</article><!-- item -->

<% end %><!-- each item -->

</div>


</body>
</html>
